
@{
    ViewBag.Title = "Contact Us";
}

<div class="container">
<div>
    <h2 class="text-center" style="font-family: Comic Sans MS;"><ins>Contact Us</ins></h2>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <p>
            <span class="glyphicon glyphicon-phone" style="color:blue"></span><b> Mobile No.</b><br /><br />
            +92344-9809098
        </p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <p>
            <span class="glyphicon glyphicon-envelope" style="color:green"></span> <b>E.mail</b><br /><br />
            <a href="#">xyz123@gmail.com</a>
        </p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
    <p>
        <span class="glyphicon glyphicon-map-marker" style="color:red"></span><b> Address: </b><address> G.H.S Malgin Village Malgin U.C Sudal <br />
        Tehsil Lachi Kohat K.P.K (PAKISTAN)</address>
    </p>
</div>
</div>
 </div>

<div class="container">
    <br /><br />
    <div class="row">
        

    </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-8 col-sm-offset-8 col-xs-offset-8">
            <div class="iframely-embed" style="max-width: 600px;">
                <div class="iframely-responsive" style="padding-bottom: 100%;">
                    <a href="https://www.facebook.com/GHS-Malgin-KOHAT-931244176924412/" data-iframely-url="//cdn.iframe.ly/e1AojA7?_small_header=true&amp;_show_facepile=true">
                    </a>
                </div>
            </div>
            <script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
        </div>
    </div>

