
@{
    ViewBag.Title = "Download";
}

<div class="container">
    <div>
        <h2 class="text-center" style="font-family: Comic Sans MS;"><ins>Download</ins></h2>
    </div>
    <br /><br />
          <div class="container">
              <ul>
                  <li><a href="#" title="Currently school admission form is not uploaded">Download School Admission Form</a></li>
                  <li><a href="https://www.bisekt.edu.pk/images/downloads/ADMISSION-FORM-SSC-9th-2015.pdf">Downlaod BISEKohat SSC(9) Admission Form</a> </li>
                  <li><a href="https://www.bisekt.edu.pk/images/downloads/ADMISSION-FORM-SSC-10th-2015.pdf">Downlaod BISEKohat SSC(10) Admission Form</a> </li>
                  <li><a href="https://www.bisekt.edu.pk/images/downloads/ADMISSION-FORM-HSSC-NEW-2015.pdf">Downlaod BISEK HSSC Admission Form</a></li>
                  <li><a href="https://www.bisekt.edu.pk/images/downloads/Migration-Form-Sch-coll-to-sch-coll.pdf">Downlaod BISEK School to School migration Form</a></li>
                  <li><a href="~/Pdf_Files/BISEKohat_Fess_Challan.pdf">Downlaod BISEK Bank Challan Form</a></li>
                
              </ul>
          </div>
</div>

