
@{
    ViewBag.Title = "Gallery";
}

<div class="container">
    <div>
        <h2 class="text-center" style="font-family: Comic Sans MS;"><ins>Gallery</ins></h2>
    </div>
    <br />

    <div class="container">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Batch_2012 to 2014.jpg">
                        <img src="~/Images/GHSM_Batch_2012 to 2014.jpg" class="img-responsive" />
                    </a>
                    <div class="caption text-center">
                        <p>G.H.S Malgin Studnt Batch 2012 t0 2014</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Batch_2016 to 2018.jpg">
                        <img src="~/Images/GHSM_Batch_2016 to 2018.jpg" class="img-responsive" />
                    </a>
                    <div class="caption text-center">
                        <p>G.H.S Malgin Studnt Batch</p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Exam.jpg">
                        <img src="~/Images/GHSM_Exam.jpg" class="img-responsive" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Firewall.jpg">
                        <img src="~/Images/GHSM_Firewall.jpg" class="img-responsive" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Sport2.jpg">
                        <img src="~/Images/GHSM_Sport2.jpg" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Sport3.jpg">
                        <img src="~/Images/GHSM_Sport3.jpg" class="img-responsive" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Staff.jpg">
                        <img src="~/Images/GHSM_Staff.jpg" class="img-responsive" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Staff1.jpg">
                        <img src="~/Images/GHSM_Staff1.jpg" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Staff2.jpg">
                        <img src="~/Images/GHSM_Staff2.jpg" class="img-responsive" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_teacher.jpg">
                        <img src="~/Images/GHSM_teacher.jpg" class="img-responsive" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="~/Images/GHSM_Teacher_Award.jpg">
                        <img src="~/Images/GHSM_Teacher_Award.jpg" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>



    </div>
</div>

