
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div>
        <h2 class="text-center" style="font-family: Comic Sans MS;"><ins>Wellcome this is Home Page</ins></h2>
    </div>
</div>

